<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update user</title>
</head>
<body>
<form th:method="POST" th:action="@{/admin/update}" th:object="${user}">
    <label for="name">Enter name:</label>
    <input type = "text" th:field="*{username}" id ="name">
    <br/>
    <label for="last name">Enter last name:</label>
    <input type = "text" th:field="*{password}" id ="last name">
    <br/>
    <label for="email">Enter email:</label>
    <input type = "text" th:field="*{email}" id = "email">
    <br/>
    <input type="submit" value="Update!">
    <input type="hidden" th:field="*{id}" th:value="${user.id}">
</form>
</body>
</html>